.card {
  width: 220px;
  padding: 15px;
  margin: 10px;
  background: #4701d2;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  padding: 5px 10px;
  margin-top: 10px;

  ;
}
#container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  
}